@import url(bootstrap.min.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro:300,400,400i,600,600i,700&display=swap");
@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul,
li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.header__inner .header__row .btn, .download .btn, .cards .card-deck .card .card-body .btn {
  line-height: 50px;
  width: 160px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #454449;
  border-radius: 5px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  position: relative;
  overflow: hidden;
  padding: 0; }
  .header__inner .header__row .btn:before, .download .btn:before, .cards .card-deck .card .card-body .btn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #008ed6;
    z-index: 0; }
  .header__inner .header__row .btn:hover:before, .download .btn:hover:before, .cards .card-deck .card .card-body .btn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }
  .header__inner .header__row .btn span, .download .btn span, .cards .card-deck .card .card-body .btn span {
    position: relative;
    z-index: 1; }
  .header__inner .header__row .btn:focus, .download .btn:focus, .cards .card-deck .card .card-body .btn:focus {
    box-shadow: none; }

.product .product__title:before, .description .description__title:before, .sub-description .sub-description__title:before, .slider .slider__title:before, .cards .cards__title:before, .product .product__title:after, .description .description__title:after, .sub-description .sub-description__title:after, .slider .slider__title:after, .cards .cards__title:after, .header:before, .header .navbar .navbar-nav .nav-link:before, .header .navbar .navbar-nav .nav-link:after, .slider:before {
  display: block;
  content: "";
  position: absolute; }

.product .product__subtitle, .description .description__subtitle, .sub-description .sub-description__subtitle, .slider .slider__subtitle, .cards .cards__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #008ed6;
  text-transform: uppercase;
  margin-bottom: 20px; }

.product .product__title, .description .description__title, .sub-description .sub-description__title, .slider .slider__title, .cards .cards__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  color: #1a1a1a;
  position: relative;
  margin-bottom: 110px; }
  .product .product__title:before, .description .description__title:before, .sub-description .sub-description__title:before, .slider .slider__title:before, .cards .cards__title:before {
    bottom: 0;
    right: 50%;
    height: 2px;
    width: 20px;
    background-color: #008ed6;
    margin: 0 1px -30px 0; }
  .product .product__title:after, .description .description__title:after, .sub-description .sub-description__title:after, .slider .slider__title:after, .cards .cards__title:after {
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 20px;
    background-color: #008ed6;
    margin: 0 0 -30px 1px; }

.description .description__text, .sub-description .sub-description__text {
  width: 470px;
  line-height: 1.5; }

#button-up {
  display: none;
  position: fixed;
  width: 41px;
  height: 41px;
  right: 30px;
  bottom: 193px;
  text-align: center;
  font-size: 24px;
  color: #4d4d4d;
  background-color: #fff;
  transition: .3s;
  padding-top: 5px; }
  @media screen and (max-width: 425px) {
    #button-up {
      right: 10px;
      bottom: 10px; } }

#button-up:hover {
  cursor: pointer;
  transition: .3s;
  -webkit-box-shadow: 0 0 60px 10px #B3B3B3;
  box-shadow: 0 0 60px 10px #B3B3B3; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #999999; }

.header {
  background: #16151b url("../images/bg-header.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .header:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15141a;
    opacity: .9; }
  .header .navbar {
    padding: 35px 16px; }
    .header .navbar .navbar-brand {
      font-family: 'Quicksand', sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      transition: color .3s linear; }
      .header .navbar .navbar-brand:hover {
        color: #008ed6; }
    .header .navbar .navbar-nav .nav-link {
      font-size: 16px;
      color: #ffffff;
      font-weight: 600;
      position: relative;
      transition: .3s linear;
      padding: 0;
      margin: 0 12px; }
      .header .navbar .navbar-nav .nav-link:before {
        bottom: 0;
        right: 0;
        height: 2px;
        width: 0;
        background-color: #008ed6;
        transition: .2s linear;
        margin-bottom: -10px; }
      .header .navbar .navbar-nav .nav-link:after {
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: #008ed6;
        transition: .2s linear;
        margin-bottom: -10px; }
      .header .navbar .navbar-nav .nav-link:hover {
        color: #008ed6; }
        .header .navbar .navbar-nav .nav-link:hover:before, .header .navbar .navbar-nav .nav-link:hover:after {
          transition: .2s linear;
          width: 45%; }

.header__inner {
  margin: 65px 0 110px;
  width: 490px; }
  .header__inner .header__subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #008ed6;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .header__inner .header__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .header__inner .header__text {
    line-height: 1.5;
    margin-bottom: 60px; }
  .header__inner .header__row .btn:first-of-type {
    margin-right: 20px; }

.header__images {
  position: relative;
  display: flex;
  justify-content: center; }
  .header__images .header__devices {
    position: absolute;
    top: 20px;
    display: block;
    width: 428px; }

.product {
  position: relative;
  background-color: #fff;
  padding: 65px 0 75px; }
  .product .product__images {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid 1px #e2e2e2;
    margin-bottom: 30px; }
  .product .product__name {
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 10px; }
  .product .product__text {
    line-height: 1.5;
    width: 240px; }

.description {
  border-top: solid 1px #ededed;
  padding-top: 65px; }
  .description .description__images {
    display: flex;
    justify-content: center; }
    .description .description__images .description__devices {
      display: block;
      width: 100%; }
  .description .description__subtitle {
    margin-top: 50px; }
  .description .description__title {
    margin-bottom: 60px; }
    .description .description__title:before {
      left: 0; }
    .description .description__title:after {
      left: 22px; }
  .description .description__text {
    margin-bottom: 30px; }
  .description .description__list {
    font-size: 18px;
    color: #1b1b1b;
    position: relative;
    padding-left: 32px;
    margin-bottom: 18px; }
    .description .description__list span {
      display: inline-flex;
      justify-content: center;
      position: absolute;
      width: 18px;
      top: 1px;
      left: 0; }

.sub-description {
  background-color: #f2f2f2; }
  .sub-description .sub-description__subtitle {
    margin-top: 130px; }
  .sub-description .sub-description__title {
    margin-bottom: 60px; }
    .sub-description .sub-description__title:before {
      left: 0; }
    .sub-description .sub-description__title:after {
      left: 22px; }
  .sub-description .sub-description__images {
    display: flex;
    justify-content: center;
    margin: 90px 0 50px; }
    .sub-description .sub-description__images .sub-description__devices {
      display: block;
      width: 100%; }

.slider {
  background: #372d28 url("../images/Slider/bg-slider.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  padding-bottom: 215px; }
  .slider:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15141a;
    opacity: .7; }
  .slider .slider__subtitle {
    margin-top: 60px; }
  .slider .slider__title {
    color: #ffffff;
    margin-bottom: 30px; }
  .slider .slider__text {
    font-size: 24px;
    line-height: 1.4;
    color: #ffffff;
    font-style: italic;
    margin-top: 90px; }
  .slider .slider__inner {
    display: flex;
    align-items: center;
    margin-top: 15px; }
    .slider .slider__inner .slider__images {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 22px; }
    .slider .slider__inner .slider__name {
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 15px; }
    .slider .slider__inner .slider__position {
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase; }
  .slider .owl-carousel {
    display: block; }
    .slider .owl-carousel button.owl-dot {
      height: 6px;
      width: 6px;
      border: 1px solid #4c484a;
      border-radius: 50%;
      background-color: transparent;
      outline: none;
      margin-right: 20px; }
    .slider .owl-carousel button.owl-dot.active {
      height: 14px;
      width: 14px;
      background-color: #ffffff;
      transition: background-color .2s linear; }
    .slider .owl-carousel .owl-dots {
      position: absolute;
      bottom: -135px;
      right: 50%;
      margin-right: -65px;
      display: flex;
      align-items: center; }

.download {
  background-color: #15141a;
  padding: 60px 0; }
  .download .download__text {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff; }
    .download .download__text span {
      font-weight: 300; }
  .download .btn:first-of-type {
    margin-right: 20px; }

.cards .cards__subtitle {
  margin-top: 60px; }
.cards .cards__title {
  margin-bottom: 30px; }
.cards .card-deck {
  padding: 70px 0 60px; }
  .cards .card-deck .card {
    border-radius: 0; }
    .cards .card-deck .card .card-header {
      background-color: #fff;
      padding: 30px 0; }
      .cards .card-deck .card .card-header h4 {
        font-size: 24px;
        color: #1a1a1a;
        text-transform: uppercase;
        transition: .2s linear; }
    .cards .card-deck .card .card-pricing {
      border-bottom: 1px solid #e0e0e0;
      transition: .2s linear;
      padding: 35px 0 35px; }
      .cards .card-deck .card .card-pricing h4 {
        font-size: 48px;
        font-weight: 600;
        color: #1a1a1a;
        transition: .2s linear; }
        .cards .card-deck .card .card-pricing h4 span {
          font-size: 24px;
          vertical-align: super; }
    .cards .card-deck .card .card-body {
      padding-bottom: 30px; }
      .cards .card-deck .card .card-body .card-text {
        line-height: 1.5;
        margin: 34px 0 40px; }
        .cards .card-deck .card .card-body .card-text span {
          color: #008ed6; }
      .cards .card-deck .card .card-body .btn {
        border: 1px solid #e0e0e0;
        color: #008ed6; }
        .cards .card-deck .card .card-body .btn:hover {
          color: #ffffff; }
    .cards .card-deck .card:hover .card-header h4 {
      color: #008ed6; }
    .cards .card-deck .card:hover .card-pricing {
      color: #ffffff;
      background-color: #008ed6; }
      .cards .card-deck .card:hover .card-pricing h4 {
        color: #ffffff; }

/*# sourceMappingURL=style.css.map */
