@import "../scss/style-none.scss";
@import "../scss/style-auto.scss";
@import "../scss/button-up.scss";
@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Source+Sans+Pro:300,400,400i,600,600i,700&display=swap');
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #999999;
}

//Header ___________________________

.header {
  background: #16151b url('../images/bg-header.jpg') no-repeat center;
  background-size: cover;
  position: relative;

  &:before {
    @extend %before;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15141a;
    opacity: .9;
  }

  .navbar {
    padding: 35px 16px;

    .navbar-brand {
      font-family: 'Quicksand', sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      transition: color .3s linear;

      &:hover {
        color: #008ed6;
      }
    }

    button{
      &:focus{
        outline: none;
      }
    }

    .navbar-nav {

      .nav-link {
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
        position: relative;
        transition: .3s linear;

        padding: 0;
        margin: 0 12px;

        @include max-screen(425px) {
          margin: 0;
        }

        &:before {
          @extend %before;
          bottom: 0;
          right: 0;
          height: 2px;
          width: 0;
          background-color: #008ed6;
          transition: .2s linear;

          margin-bottom: -10px;
        }

        &:after {
          @extend %before;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: #008ed6;
          transition: .2s linear;

          margin-bottom: -10px;
        }

        &:hover {
          color: #008ed6;
          &:before, &:after {
            transition: .2s linear;
            width: 45%;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  background-color: #ffffff;
}
.navbar-nav {
  text-align: center;

  li {
    padding: 6px 0;
  }
}


.header__inner {
  margin: 65px 0 110px;
  width: 490px;

  @include max-screen(768px) {
    width: auto;
    margin: 0 0 60px;
  }

  .header__subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: $text-height;
    color: #008ed6;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  .header__title {
    font-size: 48px;
    font-weight: 600;
    line-height: $text-height;
    color: #FFFFFF;

    margin-bottom: 20px;

    @include max-screen(768px) {
      font-size: 46px;
    }
  }

  .header__text {
    line-height: 1.5;
    margin-bottom: 60px;
  }

  .header__row {
    @include max-screen(425px) {
      text-align: center;
    }

    .btn {
      @extend %btn;

      &:first-of-type {
        margin-right: 20px;

        @include max-screen(768px) {
          margin-right: 6px;
        }
        @include max-screen(320px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.header__images {
  position: relative;
  display: flex;
  justify-content: center;

  .header__devices {
    position: absolute;
    top: 20px;
    display: block;
    width: 428px;

    @include max-screen(768px) {
      width: 100%;
    }
  }
}

//Product ___________________________

.product {

  position: relative;
  background-color: #fff;

  padding: 65px 0 75px;

  @include max-screen(425px) {
    padding: 60px 0;
  }

  .product__subtitle {
    @extend %subtitle;
  }

  .product__title {
    @extend %title;

    @include max-screen(425px) {
      margin-bottom: 60px;
    }
  }

  .product__images {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid 1px #e2e2e2;

    margin-bottom: 30px;
  }

  .product__name {
    font-size: 24px;
    color: #1a1a1a;

    margin-bottom: 10px;
  }

  .product__text {
    line-height: 1.5;
    width: 240px;

    @include max-screen(768px) {
      width: auto;
    }
  }
}

//Description ___________________________

.description {
  border-top: solid 1px #ededed;

  padding-top: 65px;

  @include max-screen(425px) {
    padding-top: 0;
  }

  .description__images {
    display: flex;
    justify-content: center;

    @include max-screen(425px) {
      display: none;
    }

    .description__devices {
      display: block;
      width: 100%;
    }
  }

  .description__subtitle {
    @extend %subtitle;

    margin-top: 50px;
  }

  .description__title {
    @extend %title;

    margin-bottom: 60px;

    &:before {
      left: 0;
    }

    &:after {
      left: 22px;
    }
  }
  .description__text {
    @extend %text;

    @include max-screen(768px) {
      width: auto;
    }

    margin-bottom: 30px;
  }

  .description__list {
    font-size: 18px;
    color: #1b1b1b;
    position: relative;

    padding-left: 32px;
    margin-bottom: 18px;

    span {
      display: inline-flex;
      justify-content: center;
      position: absolute;
      width: 18px;
      top: 1px;
      left: 0;
    }
  }
}

//Sub-description ___________________________

.sub-description {
  background-color: #f2f2f2;

  .sub-description__subtitle {
    @extend %subtitle;

    margin-top: 130px;

    @include max-screen(768px) {
      margin-top: 50px;
    }
  }

  .sub-description__title {
    @extend %title;

    margin-bottom: 60px;


    &:before {
      left: 0;
    }

    &:after {
      left: 22px;
    }
  }

  .sub-description__text {
    @extend %text;

    @include max-screen(768px) {
      width: auto;
    }
  }

  .sub-description__images {
    display: flex;
    justify-content: center;

    margin: 90px 0 50px;

    @include max-screen(768px) {
      margin: 115px 0 0;
    }
    @include max-screen(425px) {
      display: none;
    }

    .sub-description__devices {
      display: block;
      width: 100%;
    }
  }
}

//Slider ___________________________

.slider{
  background: #372d28 url('../images/Slider/bg-slider.jpg') no-repeat center;
  background-size: cover;
  position: relative;

  padding-bottom: 215px;

  @include max-screen(425px) {
    padding-bottom: 65px;
  }

  &:before {
    @extend %before;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15141a;
    opacity: .7;
  }

  .slider__subtitle{
    @extend %subtitle;

    margin-top: 60px;
  }

  .slider__title{
    @extend %title;
    color: #ffffff;

    margin-bottom: 30px;
  }

  .slider__text{
    font-size: 24px;
    line-height: 1.4;
    color: #ffffff;
    font-style: italic;

    margin: 90px 5px 0 5px;

    @include max-screen(425px) {
      font-size: 22px;
      margin: 35px 15px 0;
    }
  }
  .slider__inner{
    display: flex;
    align-items: center;

    margin: 15px 5px 0;

    @include max-screen(425px) {
      margin: 15px 15px 0;
    }

    .slider__images{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;

      margin-right: 22px;
    }

    .slider__name{
      font-size: 16px;
      color: #ffffff;

      margin-bottom: 15px;
    }

    .slider__position{
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  .owl-carousel {
    display: block;

    button.owl-dot {
      height: 6px;
      width: 6px;
      border: 1px solid #4c484a;
      border-radius: 50%;
      background-color: transparent;
      outline: none;

      margin-right: 20px;
    }

    button.owl-dot.active {
      height: 14px;
      width: 14px;
      background-color: #ffffff;
      transition: background-color 1s linear;
    }

    .owl-dots {
      position: absolute;
      bottom: -135px;
      right: 50%;
      margin-right: -65px;
      display: flex;
      align-items: center;

      @include max-screen(425px) {
        bottom: -40px;
      }
    }
  }
}

//Download ___________________________

.download {
  background-color: #15141a;

  padding: 60px 0;

  .download__text {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;

    span{
      font-weight: 300;
    }
  }

  .btn {
    @extend %btn;

    &:first-of-type {
      margin-right: 20px;
    }
  }
}

//Cards ___________________________

.cards{

  .cards__subtitle{
    @extend %subtitle;

    margin-top: 60px;
  }

  .cards__title{
    @extend %title;

    margin-bottom: 30px;
  }

  .card-deck {
    padding: 70px 0 60px;

    @include max-screen(425px) {
      padding: 35px 0 0;
    }

    .card {
      border-radius: 0;

      .card-header {
        background-color: #fff;

        padding: 30px 0;

        @include max-screen(425px) {
          padding: 10px 0;
        }

        h4 {
          font-size: 24px;
          color: #1a1a1a;
          text-transform: uppercase;
          transition: .2s linear;
        }
      }

      .card-pricing {
        border-bottom: 1px solid #e0e0e0;
        transition: .2s linear;

        padding: 35px 0;

        @include max-screen(425px) {
          padding: 30px;
        }

        h4 {
          font-size: 48px;
          font-weight: 600;
          color: #1a1a1a;
          transition: .2s linear;

          span {
            font-size: 24px;
            vertical-align: super;
          }
        }
      }

      .card-body {
        padding-bottom: 30px;

        .card-text {
          line-height: 1.5;

          margin: 34px 0 40px;

          @include max-screen(425px) {
            margin: 0 0 20px;
          }

          span {
            color: #008ed6;
          }
        }

        .btn {
          @extend %btn;
          border: 1px solid #e0e0e0;
          color: #008ed6;

          &:hover {
            color: #ffffff;
          }

        }
      }

      &:hover{

        .card-header{

          h4{
            color: #008ed6;
          }
        }

        .card-pricing{
          color: #ffffff;
          background-color: #008ed6;

          h4{
            color: #ffffff;
          }
        }
      }
    }
  }
}

//Contact ___________________________

.contact{
  background-color: #ededed;

  .contact__subtitle{
    @extend %subtitle;

    margin-top: 60px;
  }

  .contact__title{
    @extend %title;

    margin-bottom: 30px;
  }

  .contact__images{
    display: inline-flex;
    align-items: center;
    height: 32px;

    margin: 60px 0 30px;

    @include max-screen(425px) {
      margin: 35px 0 10px;
    }
  }

  .contact__address{
    line-height: 1.5;

    margin-bottom: 65px;

    @include max-screen(425px) {
      margin-bottom: 0;
    }
  }

  .contact__form{
    background-color: #15141a;

    padding: 60px 85px 40px 65px;
    margin-bottom: -65px;

    @include max-screen(768px) {
      padding: 40px;
    }
    @include max-screen(425px) {
      padding: 20px;
      margin-top: 35px;
    }

    input{
      width: 100%;
      line-height: 50px;

      font-size: 14px;
      font-weight: 700;
      color: #5d5d5f;
      text-transform: uppercase;
      background-color: transparent;

      border: solid 1px #5d5d5f;
      border-radius: 5px;
      padding-left: 15px;
      margin-bottom: 20px;
    }

    textarea{
      height: 196px;
      width: 300px;

      font-size: 14px;
      font-weight: 700;
      color: #5d5d5f;
      text-transform: uppercase;
      background-color: transparent;

      border: solid 1px #5d5d5f;
      border-radius: 5px;
      padding: 15px 0 0 15px;

      @include max-screen(425px) {
        width: 100%;
      }
    }

    .btn{
      @extend %btn;
      color: #5d5d5f;

      @include max-screen(425px) {
        margin-top: 20px;
      }
    }
  }
}

//Map ___________________________

.map{
  height: 370px;
}

//Footer ___________________________

.footer {
  background-color: #15141a;

  padding: 50px 0 45px;

  .footer__social {
    margin-bottom: 30px;

    .social__icon {
      margin: 0 15px;

      i {
        font-size: 18px;
        color: #444348;
        transition: .2s linear;

        &.icon--fb:hover {
          color: #3b5997;
        }
        &.icon--tw:hover {
          color: #3ec2f3;
        }
        &.icon--in:hover {
          color: #0e76a8;
        }
        &.icon--be:hover {
          color: #053eff;
        }
        &.icon--db:hover {
          color: #ea4c89;
        }
      }
    }
  }

  .footer__copyright{
    font-size: 14px;
    font-weight: 600;
    color: #444348;
    text-transform: uppercase;
  }
}

//Button-up ___________________________

#button-up{
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 30px;
  bottom: 90px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  background-color: #008ed6;
  border-radius: 5px;
  transition: .3s;

  padding-top: 8px;

  @include max-screen(425px) {
    right: 10px;
    bottom: 10px;
  }
}

#button-up:hover{
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px -5px #B3B3B3;
  box-shadow: 0 0 20px -5px #B3B3B3;
}






